.footer{
    background-color:#fff;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer__container {
    padding: 2rem 0 6rem;
}

.footer__title,
.footer__link {
    color:rgb(47, 44, 44); ;
}

.footer__title {
    text-align: center;
    margin-bottom: var(--mb-2);
}

.footer__link:hover {
    color:rgb(108, 102, 102);
}

.footer__list {
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    margin-bottom: var(--mb-2);
}

.footer__social {
    display: flex;
    justify-content: center;
    column-gap: 1.3rem;
}

.footer__social-link {
    background-color: rgb(47, 44, 44);
    
    color: #fff;
    font-size: 1.125rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display:inline-flex;
}

.footer__social-link:hover {
    background-color: rgb(108, 102, 102);

}

.footer__copy {
    display: block;
    margin-top: 4.5rem;
    color: rgb(47, 44, 44);
    text-align: center;
    font-size: var(--smaller-font-size);
}

/*=======BREAKPOINT=====*/

/*=======FOR LARGE DEVICES=====*/

@media screen and (max-width: 992px){
    .footer__social-link {
        padding: 0.25rem;
        border-radius: 0.25rem;
        font-size: 1rem;
    
    }
    
    
  
  }
  
  /*=======for medium devices=====*/
  
  @media screen and (max-width: 768px){
   
  
    
  }
  
  /*=======for small devices=====*/
  @media screen and (max-width: 350px){
   
  
  }
  
  